* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background:#000;
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 65px;
  line-height: 65px;
}
nav .container {
  position: relative;
  max-width: 1250px;
  padding: 0 30px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .logo a {
  color: #fff;
  text-decoration: none;
  font-size: 27px;
  font-weight: 600;
}
.container .navlinks {
  display: inline-flex;
}
.navlinks li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  /* background: #3A3B3C; */
  border-radius: 5px;
  transition: all 0.3s ease;
}
.navlinks li a:hover {
  background: #3a3b3c;
}
.navlinks li {
  list-style: none;
}
.navlinks .drop-menu {
  background: #242526;
  width: 180px;
  top: 65px;
  line-height: 45px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.navlinks li:hover .drop-menu,
.navlinks li:hover .mega-menu {
  top: 65px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.drop-down li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-menu {
  position: absolute;
  top: 85px;
  width: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.mega-menu .content {
  background: #242526;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.content .row {
  width: calc(25% - 30px);
  line-height: 45px;
}
.content .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}
.content .row .megalinks {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}
.content .row:nth-child(1),
.content .row:nth-child(2) {
  border-left: 0px;
}
.row .megalinks li {
  padding: 0 20px;
}
.row .megalinks li a {
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}
.fa-angle-right{
  float: right;
}
.row ul li:hover .sub-menu{
  display: block;
  position: absolute;
  margin-top: 15px;
  margin-left: -15px;
  background: #242526;
}
.row ul li:hover .sub-menu ul{
  display: block;
  margin: 10px;
}

.row ul li:hover .sub-menu ul li{
  width: 150px;
  padding: 10px;
  background: transparent;    hover menu
  border-radius: 0;
  text-align: left;
}
.sub-menu{
  display: none;
}
.hover-menu:hover .sub-menu{
  position: absolute;
  display: block;
  margin-top: -40px;
  margin-left: 140px;
  background:#24252624 ;
}
